langchain==0.3.7
langchain-groq==0.2.1
langchain-community==0.3.7
langchain-text-splitters==0.3.2
streamlit==1.40.1
pymupdf==1.24.11
faiss-cpu==1.9.0
sentence-transformers==3.3.1
python-dotenv==1.0.0
python-docx==1.1.2
python-pptx==1.0.2
openpyxl==3.1.5
chromadb==0.5.23